@()

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Listing</h3>
        <div class="box-tools pull-right">
            <button id="comms-table_export" class="btn btn-primary btn-sm">Export (CSV)</button>
            @*<button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>*@
        </div>
    </div>
    <div class="box-body table-responsive">
        <table id="comms-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <select class="form-control"
                        multiple title='Select senders...'
                        data-live-search="true"
                        data-selected-text-format="count>1"
                        data-bind="
                                options: columns[2].domain, selectedOptions: columns[2].filter,
                                optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                ">
                        </select>
                    </th>
                    <th>
                        <select class="form-control"
                        multiple title='Select recipients...'
                        data-live-search="true"
                        data-selected-text-format="count>1"
                        data-bind="
                                options: columns[3].domain, selectedOptions: columns[3].filter,
                                optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                ">
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>