@()



<div class="box @*box-solid*@ box-primary">
    <div class="box-header">
        <h3 class="box-title">Listing</h3>
        <div class="box-tools pull-right">
            <button id="trades-table_export" class="btn btn-primary btn-sm">Export (CSV)</button>
            @*<button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>*@
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">


        <table id="trades-table" class="table table-bordered table-hover">
            <thead>

                <tr>
                    <th></th>
                    <th>
                        <div class="form-group"  style="width: 360px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <button class="form-control pull-left"
                                    id="daterange"
                                    data-bind="
                                    daterangepicker: columns[1].filter
                                    ">
                                    <span>-</span>
                                        &nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th>



                        <select class="form-control"
                        multiple title='Select buyers...'
                        data-live-search="true"
                        data-selected-text-format="count>1"
                        data-bind="
                                    options: columns[2].domain, selectedOptions: columns[2].filter,
                                    optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                    ">
                        </select>
                        @*<button data-bind="click: function() { columns[2].filter([]) }">Clear</button>*@

@*                        <select class="form-control"
                        multiple title='Select buyers...'
                        data-live-search="true"
                        data-selected-text-format="count>1"
                        data-bind="
                                    options: columns[2].domain, selectedOptions: columns[2].filter,
                                    optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                    ">
                        </select>
                        <button data-bind="click: function() { columns[2].filter([]) }">Clear</button>*@
                    </th>
                    <th>
                        <select class="form-control"
                        multiple title='Select sellers...'
                        data-live-search="true"
                        data-selected-text-format="count>1"
                        data-bind="
                                    options: columns[3].domain, selectedOptions: columns[3].filter,
                                    optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                    ">
                        </select>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <select class="form-control"
                        multiple title='Select symbols...'
                        data-live-search="true"
                        data-selected-text-format="count>1"
                        data-bind="
                                    options: columns[7].domain, selectedOptions: columns[7].filter,
                                    optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                    ">
                        </select>
                    </th>
                    <th>
                        <select class="form-control"
                        multiple title='Select sectors...'
                        data-live-search="true"
                        data-selected-text-format="count>2"
                        data-bind="
                                    options: columns[8].domain, selectedOptions: columns[8].filter,
                                    optionsValue: 'id', optionsText: 'label', selectPicker: {}
                                    ">
                        </select>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Currency</th>
                    <th>Symbol</th>
                    <th>Sector</th>
                    <th>Bid</th>
                    <th>Ask</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Currency</th>
                    <th>Symbol</th>
                    <th>Sector</th>
                    <th>Bid</th>
                    <th>Ask</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

