@(nav: menu.Navigation)

<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->

    @renderItem(item: menu.Item) = {
        @if(item.getClass == classOf[menu.MenuItem]) {
        <li>
            <a href="@routes.Application.index()">
                <i class="fa fa-dashboard"></i> <span>@item.getLabel</span>
            </a>
        </li>
        } else {
            otherwise
        }
    }


<li class="header">@nav.getLabel</li>

@nav.getItems.map { item: menu.Item =>
    @item.getClass match {
        case x if x == classOf[menu.MenuItem] => {
            <li @if(item.isActive(request.uri)) {class="active"}>
                <a href="@item.asInstanceOf[menu.MenuItem].getCall">
                    <i class="fa fa-dashboard"></i> <span>@item.getLabel</span>
                </a>
            </li>
        }
        case x if x == classOf[menu.Menu] => {
            <li class="treeview @if(item.isActive(request.uri)) {active}">
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span>@item.getLabel</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>


                    @if(item.isActive(request.uri)) {
                        <ul class="treeview-menu menu-open" style="display: block;">
                    } else {
                        <ul class="treeview-menu">
                    }

                    @item.asInstanceOf[menu.Menu].getItems.map { menuItem: menu.MenuItem =>
                        <li class="@if(menuItem.isActive(request.uri)) {active}">
                            <a href="@menuItem.getCall"><i class="fa fa-circle-o"></i>@menuItem.getLabel</a>
                        </li>
                    }
                </ul>
            </li>
        }
    }
}




