@()

    @main("Traders", "View raw data",
        Html("<!-- DATA TABLES -->\n" +
                "\t<link href=\"//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css\" rel=\"stylesheet\"  type=\"text/css\" />")) {

        @Html("")

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listing</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">


                        <table id="traders-table" class="table table-bordered table-striped">
                            <thead>
                                @*<tr>
                                <th></th>
                                <th>
                                <input data-bind="value: filters.email" type="text" />
                                </th>
                                <th>
                                <input data-bind="value: filters.buyer" type="text" />
                                </th>
                                <th>
                                <input data-bind="value: filters.seller" type="text" />
                                </th>
                                <th>
                                <select data-bind="options: accountLevel,
                                optionsText: 'label',
                                optionsValue: 'value',
                                value: filters.level"></select>
                                </th>
                                <th>
                                <input data-bind="value: filters.firstName" type="text" />
                                </th>
                                <th></th>
                                <th>
                                <input data-bind="value: filters.lastName" type="text" />
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </tr>*@
                                <tr>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Email</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @Html("")

    } {
        <!-- dataTables -->
        <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
        <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

        <!-- page script -->
        <script src="@routes.Assets.at("javascripts/traders/collection.js")"></script>

        @Html("")
    }