@()

@main("Trades", "View raw data") {
    <!-- DATA TABLES -->
    <link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- daterange picker -->
    <link href="@routes.Assets.at("AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css" />
} {
    @Html("")

    <div class="row">
        <div class="col-xs-12">
            @widgets.trades()
        </div>
    </div>

    @Html("")
} {
    <!-- dataTables -->
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <!-- date-range-picker -->
    <script src="@routes.Assets.at("AdminLTE/plugins/daterangepicker/daterangepicker.js")" type="text/javascript"></script>

    <!-- page script -->
    @*<script src="@routes.Assets.at("javascripts/trades/collection.js")"></script>*@

    <script src="@routes.Assets.at("javascripts/widgets/datatable.js")"></script>
    <script src="@routes.Assets.at("javascripts/widgets/trades.js")"></script>

    <script type="application/javascript">






    $ ( function ( ) {

    //tradeTable = new TradeTable ( ) ;

    //tradeTable.getMeta()





    //tradeTable.loadRows ( ) ;

    //tradeTable.loadFilters ( )

    //ko.applyBindings ( tradeTable ) ;

    } ) ;


    </script>

    @Html("")
}