@()
@import controllers.meta.Lang

@main("Factors", "", Lang.FACTORS_HELP) {
    <!-- DATA TABLES -->
    <link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- daterange picker -->
    <link href="@routes.Assets.at("AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css" />
} {



    <div class="row">
        <div class="col-xs-12">
            @widgets.factors()
        </div>
    </div>



    @Html("")
} {
    @Html("")

    <!-- dataTables -->
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <!-- date-range-picker -->
    <script src="@routes.Assets.at("AdminLTE/plugins/daterangepicker/daterangepicker.js")" type="text/javascript"></script>

    <!-- page script -->
    @*<script src="@routes.Assets.at("javascripts/factors/collection.js")"></script>*@

    <script src="@routes.Assets.at("javascripts/widgets/datatable.js")"></script>
    <script src="@routes.Assets.at("javascripts/widgets/factors.js")"></script>

@*    <script type="application/javascript">
        $('.selectpicker').selectpicker();
    </script>*@

    @Html("")
}