@(entity: team16.cs261.common.entity.Cluster, factors: List[team16.cs261.common.entity.factor.Factor])

@main("Cluster", "Detailed cluster overview"){
}{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listing</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="trades-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Time</th>
                                <th>Buyer</th>
                                <th>Seller</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Currency</th>
                                <th>Symbol</th>
                                <th>Sector</th>
                                <th>Bid</th>
                                <th>Ask</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Time</th>
                                <th>Buyer</th>
                                <th>Seller</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Currency</th>
                                <th>Symbol</th>
                                <th>Sector</th>
                                <th>Bid</th>
                                <th>Ask</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>



        </div>
    </div>

    @Html("")
} {
    @Html("")



    @Html("")
}