@()

<div class="form-group">
    <select class="form-control" >
        @team16.cs261.common.meta.FactorClass.values().filter( _.getLabel == "").map { fc =>
          @renderFc(fc)
        }
@*        <option>Node2</option>
        <option>&nbsp;&nbsp;&nbsp;&nbsp;Trader</option>
        <option>Edge</option>
        <option>option 2</option>
        <option>option 3</option>
        <option>option 4</option>
        <option>option 5</option>*@
    </select>
</div>

@renderFc(fc: team16.cs261.common.meta.FactorClass, depth: Int = 0) = {
    <option>@Html("&nbsp;&nbsp;&nbsp;" * depth) @fc.getLabel</option>

    @fc.getChildren(fc).map { fc =>
        @renderFc(fc, depth+1)
    }
}